<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/style.css">
</head>
    <body>
        <div id="form" class="form">
            <div class="form-data-entry">
                <label for="inputFIO">Введите ФИО</label><br>
                <input type="text" id="inputFIO" v-model="fio" @keyup="validateFIO" placeholder="Иванов Иван Иванович">
                <div class="form-errors">{{ errors }}</div>
            </div>
            <ul class="form-result">
                <li>Фамилия: {{ fioObj.firstName }}</li>
                <li>Имя: {{ fioObj.lastName }}</li>
                <li>Отчество: {{ fioObj.patronymic }}</li>
            </ul>

        </div>
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div class="modal-mask" @click="$emit('close')">
                    <!-- template for the modal component -->
                    <div class="modal-wrapper">
                        <div class="modal-container">
                            <div class="modal-header">
                                <slot name="header">
                                    <span class="modal-button-close" @click="$emit('close')">x</span>
                                </slot>
                            </div>
                            <div class="modal-body">
                                <slot name="body">
                                    Добро Пожаловать, {{ fioObj.firstName }} {{ fioObj.lastName }} {{ fioObj.patronymic }}!
                                </slot>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </script>
        <div id="app">
            <button class="show-modal" id="show-modal" @click="showModal = true">Подтвердить</button>
            <modal v-if="showModal" @close="showModal = false"></modal>
        </div>
        <script src="https://cdn.jsdelivr.net/vue/2.1.3/vue.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>