@import "reset"

body
    font-family: Helvetica, Arial, sans-serif
    padding: 30px
.form
    input
        width: 200px
        height: 30px
        padding-left: 5px
    &-data-entry
        margin-bottom: 15px
    &-result
        margin-bottom: 10px
    &-errors
        color: red
        font-size: 12px

.show-modal
    width: 200px
    height: 34px
    display: block
    cursor: pointer
    background-color: #fff
    border: 2px solid #1fa498


.modal
    &-mask
        position: fixed
        z-index: 9998
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .5)
        transition: opacity .3s ease
    &-container
        width: 300px
        margin: 40px auto 0
        padding: 20px 30px
        background-color: #fff
        border-radius: 2px
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
        transition: all .3s ease
        -webkit-transform: scale(1.1)
        transform: scale(1.1)
    &-header
        background-color: #42b983
    &-body
        margin: 20px 0
    &-button-close
        float: right
        cursor: pointer

