* {
  box-sizing: border-box; }

body, ol, ul, li, div, p, figure, figcaption {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 30px; }

.form input {
  width: 200px;
  height: 30px;
  padding-left: 5px; }
.form-data-entry {
  margin-bottom: 15px; }
.form-result {
  margin-bottom: 10px; }
.form-errors {
  color: red; }

.show-modal {
  width: 200px;
  height: 34px;
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #1fa498; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease; }
.modal-container {
  width: 300px;
  margin: 40px auto 0;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
.modal-header {
  background-color: #42b983; }
.modal-body {
  margin: 20px 0; }
.modal-button-close {
  float: right;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
